<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/inedx.css" />
<%- include('./includes/nav.ejs') %>
<h1>Welcome to My Blog</h1>

<a class="btn btn-primary" href="/posts" role="button">Go to Blog</a>
<%- include('./includes/end.ejs') %>
