<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/inedx.css" />
<%- include('./includes/nav.ejs') %>
<div class="container my-5">
  <div class="d-flex flex-column align-items-center">
    <h1 class="my-5">Welcome to My Blog</h1>

    <a class="btn btn-primary btn-lg px-5" href="/posts" role="button"
      >Go to Blog</a
    >
  </div>
</div>
<%- include('./includes/end.ejs') %>
