<%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
<div class="container mt-5">
  <form action="/posts/create" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label class="font-weight-bold" for="title">Title</label>
      <input
        type="text"
        required
        name="title"
        class="form-control"
        id="title"
        placeholder="Enter title"
      />
    </div>
    <div class="form-group">
      <label class="font-weight-bold" for="image">Top Image URL</label>
      <br>
      <input
        type="file"
        name="image"
        id="image"
      />
    </div>
    <div class="form-group">
      <label class="font-weight-bold" for="content">Content</label>
      <textarea
        class="form-control"
        name="content"
        required
        id="exampleFormControlTextarea1"
        rows="6"
      ></textarea>
    </div>
    <div class="btn-container mt-4">
      <button type="submit" class="btn btn-primary mr-3">Submit</button>
      <a href="/posts" class="btn btn-secondary">Cancel</a>
    </div>
  </form>
</div>
<%- include('../includes/end.ejs') %>
